<fieldset>

<div class="row">
<div class="form-element">
  <label for="webrt_lmhash">By LMhash</label>
  <%= text_field 'webrt', 'lmhash', :class=>"text-input" %> 
</div>
</div>

<div class="row">
<div class="form-element">
  <label for="webrt_email">By Email</label>
  <%= text_field 'webrt', 'email', :class=>"email-input" %>
</div>
</div>

</fieldset>
