<fieldset>
	<div class="row">
		<!--[form:webrt]-->
<div class="form-element">
  <label for="webrt_hash">Hash</label>
  <%= text_field 'webrt', 'hash' , {:class=>"text-input"} %>
</div>

<div class="form-element">
  <label for="webrt_date">DateSSssssSSSSS</label>
  <%= datetime_select 'webrt', 'date'  %>
</div>

<!--[eoform:webrt]-->

	</div>
</fieldset>
